<div ng-controller="mainController">
  <div class="container">

    <div class="jumbotron text-center">
        <a href="/"><button class="btn btn-info">Home</button></a>
        <h1>New Book Entry
          <!-- <span class="label label-info">{{ todos.length }}</span> -->
        </h1>
    </div>

    <div id="todo-list" class="row">
      <div class="col-sm-4 col-sm-offset-4">

        <div ng-repeat="todo in todos">

          <button class="btn btn-danger" ng-click="deleteTodo(todo._id)">Delete</button>
          <input type="text" value="{{ todo.text }}">
          <input type="text" value="{{todo.author}}">

          <!-- <span>{{ todo.checkedOut }}</span> -->
          <a href="/details/{{ todo._id }}"><button class="btn">Details</a>
          <button class="btn btn-primary" ng-disabled="todo.checkedOut == true" ng-click="setBookStatus(todo._id, true)">Check Out</button>
          <button class="btn btn-info" ng-disabled="todo.checkedOut == false" ng-click="setBookStatus(todo._id, false)">Check In</button>
        </div>

      </div>
    </div>


    <div id="todo-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="Enter book title" ng-model="formData.text">
            <input type="text" class="form-control input-lg text-center" placeholder="Enter author" ng-model="formData.author">
          </div>


          <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
        </form>
      </div>
    </div>

  </div>

</div>
