<div ng-controller="mainController">
  <div class="container">

    <div class="jumbotron text-center">
        <a href="/"><button class="btn btn-info">Home</button></a>
        <h1>New Book Entry
        </h1>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody ng-repeat="book in books">
        <tr>
          <td>{{book.text}}</td>
          <td>{{book.author}}</td>
          <td>edit button</td>
          <td><button class="btn btn-danger" ng-click="deleteBook(book._id)">Delete</button></td>
        </tr>
      </tbody>
    </table>


    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="Enter book title" ng-model="formData.text">
            <input type="text" class="form-control input-lg text-center" placeholder="Enter author" ng-model="formData.author">
          </div>
          <button type="submit" class="btn btn-primary btn-lg" ng-click="createBook()">Add</button>
        </form>
      </div>
    </div>

  </div>

</div>
