<div class="container" ng-controller="mainController">
  <div class="jumbotron">
    <a href="/"><button class="btn btn-info">Home</button></a>
    <h2>View Iron Library</h2>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody ng-repeat="book in books">
      <tr ng-if="book.checkedOut == false">
        <td>{{book.text}}</td>
        <td>{{book.author}}</td>
        <td>
          <button class="btn btn-primary" ng-if="book.checkedOut !== true" ng-click="setBookStatus(book._id, true)">Check Out</button>
          <!-- <button class="btn btn-info" ng-if="book.checkedOut !== false" ng-click="setBookStatus(book._id, false)">Return Book</button> -->
        </td>
      </tr>
    </tbody>
  </table>

</div>
